---
---
<!doctype html>
<html>
  <head>
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="canonical" href="{{ page.url | replace: 'index.html','' | prepend: site.url }}">
  <link rel="shortcut icon" href="/static/favicon.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Google+Sans|Roboto:400,500|Roboto+Mono:400">
  <link rel="stylesheet" href="/static/main.css">
  <style>
    .hero a { color: #fff; }
    .license { font-size: 14px; }
  </style>
  </head>
  <body class="no-touch">
    <div class="container">
      <!--[if lte IE 11]>
      <p id="whatbrowser" class="whatbrowser">
        You are using an <strong>outdated</strong> browser.
        Please <a href="http://whatbrowser.com/" target="_blank">
          upgrade your browser
        </a>
        to improve your experience.
      </p>
      <![endif]-->

      <header class="header-main">
        <h1>
          <a href="http://opensource.google.com/"
            data-g-event="Header"
            data-g-action="Click"
            data-g-label="Open Source Logo">
            opensource.google.com
          </a>
        </h1>
        <a id="NavTrigger"
          href="/#Navigation"
          data-g-event="Header"
          data-g-action="Click"
          data-g-label="Nav Toggle Open">
          <span>Menu</span>
        </a>
        <nav class="main-nav" id="Navigation">
          <ul>
                <li class="projects">
                  <a href="https://opensource.google.com/projects/"
                    data-g-event="Header"
                    data-g-action="Click"
                    data-g-label="Projects">
                    Projects
                  </a>
                </li>
                <li class="community">
                  <a href="https://opensource.google.com/community/"
                    data-g-event="Header"
                    data-g-action="Click"
                    data-g-label="Community">
                    Community
                  </a>
                </li>
                <li class="docs">
                  <a href="https://opensource.google.com/docs/"
                    data-g-event="Header"
                    data-g-action="Click"
                    data-g-label="Docs">
                    Docs
                  </a>
                </li>
                <li class="blog">
                  <a href="https://opensource.googleblog.com/"
                    data-g-event="Header"
                    data-g-action="Click"
                    data-g-label="Blog">
                    Blog
                  </a>
                </li>
          </ul>
        </nav>
      </header>
      <div class="main">
        <div class="container-docs">
          <section class="hero short">
            <div class="col-wrap">
              <h2><a href="/">{{ site.name }}</a></h2>
            </div>
          </section>

          <section class="content">
            <div class="col-wrap">
              {{ content }}
              <p class="license">
                Except as otherwise noted, the content of this page is licensed under the <a
                  href="https://creativecommons.org/licenses/by/4.0/">CC-BY-4.0</a> license.
              </p>
            </div>
          </section>
        </div>
      </div>
      <footer id="FooterMain" class="footer-main">
        <div class="col-wrap">
          <nav class="footer-nav pull-left">
            <ul>
              <li class="google">
                <a href="http://google.com"
                  data-g-event="Footer"
                  data-g-action="Click"
                  data-g-label="Google Logo">
                  Google
                </a>
              </li>
              <li>
                <a href="https://www.google.com/policies/privacy/"
                  data-g-event="Footer"
                  data-g-action="Click"
                  data-g-label="Privacy">
                  Privacy
                </a>
              </li>
              <li>
                <a href="https://www.google.com/policies/terms/"
                  data-g-event="Footer"
                  data-g-action="Click"
                  data-g-label="Terms">
                  Terms
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </footer>
    </div>
    <script type="text/javascript" src="/static/main.js"></script>
    <script type="text/javascript">
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-53341410-15', 'auto');
      ga('require', 'eventTracker');
      ga('require', 'outboundLinkTracker', {
        events: ['click', 'auxclick', 'contextmenu'],
      });
      ga('require', 'urlChangeTracker');
      ga('require', 'maxScrollTracker');
      ga('send', 'pageview');
    </script>
    <script async src="https://www.google-analytics.com/analytics.js"></script>
    <script async src="/static/autotrack.js"></script>
  </body>
</html>
